/* Base reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-image: linear-gradient(to left, #3c8c9a, #5d5bd2);
  background-clip: text;
}

/* Make first question card visible */
.main-container {
  margin: 11rem 0;
}

h1 {
  font-size: 4rem;
  color: #9fb0f3;
}

h2 {
  font-size: 2.5rem;
  padding: 0.7rem 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(111, 0, 255);
}

p {
  margin: 0 1rem;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  z-index: 2;
}

.header h1 {
  padding: 1rem;
}

.current-page {
  position: fixed;
  top: 10px;
  right: 15px;
}

/* Styling Question Card */
.question-card {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.585);
  border-radius: 0.5rem;
  position: relative;
  max-width: 100%;
}

.question-card h2 {
  margin-top: 2rem;
}

/* Bookmark at right corner of the card... */
.question-card i {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

.question-card i:hover {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 4rem;
  border: purple;
}
.bookmark-checked {
  color: purple;
}

.show-answer {
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #82b7cc22;
  box-shadow: 0px 0px 5px red;
  color: #1f0384;
  border: none;
}
.show-answer:active {
  border-radius: 0.5rem;
  margin: 2rem;
  background-color: #82b7cc22;
  box-shadow: 2px 2px 9px red;
}

.hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.2rem;
}

.hashtags li {
  padding: 0.3rem 1rem;
  margin: 0.3 rem;
  border-radius: 0.5rem;
  background-color: lightgrey;
  opacity: 0.5;
}

/* Footer Styling */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 -2px 0 rgb(0, 0, 0);
}

.nav-icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
}

.nav-icon-set li a i {
  padding: 2rem;
  color: #9fb0f3;
}

.nav-icon-set li a i:hover {
  background-color: rgb(136, 137, 235);
}
